.container-box {
    width: 400px;
    height: 100px;
    background-color: yellow;
}
.main-text {
    color: darkorange;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}
.container-text {
    text-align: center;
    padding-top: 35px;
}
.btm {

    /*width: 150px;*/
    /*height: 25px;*/
    border: 1px solid green;
}
